@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go here */


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/* div {
    border: #fff solid 1px;
} */
.noise {
    background-image: url(../imgs/Gradient.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
}
.hero-text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fffff0;
}
.margin4 {
    padding-right: 25vw;
    padding-left: auto;
}
.experience {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../imgs/triangle.png);
    background-size: cover;
    background-attachment: fixed;
}

.white-bar {
    width: 100vw;
    height: 50px;
    background-color: #fffff0;
}
.ms-10 {
    margin-left: 100px;
}
@media screen and (max-width: 600px) {
    .ms-10 {
        margin-left: 10px;
    }
    .max-w-xs {
        display: none;
    }
    .px-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .text-7xl {
        font-size: 3rem;
    }
    .big-font {
        font-size: 50px !important;
    }
    .medium-font {
        font-size: 30px !important;
    }
    .small-nav {
        display: inline !important;
    }
    .big-nav {
        display: none;
    }
    .navbar {
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        overflow: hidden;
        margin-top: 15px; /* Adjust this value as needed */
    }

    .navbar.visible {
        max-height: calc(100vh - 50px); /* Adjust this value as needed */
    }
}
.small-nav {
    display: none;
}
.big-font {
    font-size: 100px;
    font-weight: 700;
}
.medium-font {
    font-size: 50px;
    font-weight: 400;
}
.italic {
    font-style: italic;
}

.italic .emoji {
    font-style: normal;
}
.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    color: #fffff0;
    font-size: 2rem;
    margin-right: 0.5rem;
    transition-duration: 0.5s;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icon:hover {
    transform: translateY(-3px) rotate(360deg); /* Pop-up and spin */
  }
/* add a color gradient to text */

/*
Light pink: #F7CAC9
Lavender: #D8BFD8
Periwinkle blue: #CCCCFF
*/
.history-link {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: #9d9dff 0%; /* Flipped gradient order */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: background 0.5s ease; /* Transition applied to background property */
  }
  
  .history-link:hover {
    background: #ffa8a6; /* Gradient on hover state */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.education {
    background: url(../imgs/education.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
 
.education-link {
    position: relative;
    font-family: 'Inter', sans-serif;
    background: #9d9dff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: background 0.5s ease; /* Transition applied to background property */
  }
  
  .education-link:hover {
    background: #ffa8a6; /* Gradient on hover state */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.navbar>li>a {
    transition: all 0.5s;
}
.navbar>li>a:hover {
    transform: translateY(-3px);
    text-shadow: #fffff0 0px 0px 10px;
}

code {
    font-family:'Courier New', Courier, monospace;
    background-color: #222222;
    padding: 0px 5px;
    border-radius: 5px;
}

.projects-link {
    position: relative;
    font-family: 'Inter', sans-serif;
    background: #9d9dff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: background 0.5s ease; /* Transition applied to background property */
  }
  
  .projects-link:hover {
    background: #ffa8a6; /* Gradient on hover state */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.link {
    background: #9d9dff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: background 0.5s ease; /* Transition applied to background property */
  }
  
  .link:hover {
    background: #ffa8a6; /* Gradient on hover state */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certifications-link {
    background: #9d9dff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: background 0.5s ease; /* Transition applied to background property */
  }
  
  .certifications-link:hover {
    background: #ffa8a6; /* Gradient on hover state */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

