.red {
    border: red 1px solid;
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


.nav {
    text-decoration: none;
    list-style: none;
    position:fixed;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 0;
    padding:0;
    left:0;
    bottom:0;
    width:100vh; /* after rotation this is the height */
    margin-top: 50vh;
    transform: rotate(-90deg);
    transform-origin:0% 0%;

}
